/* Подключаем Regular (400) — база */
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Подключаем Medium (500) — для кнопок и акцентов */
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Подключаем Bold (700) — для заголовков */
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}